# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# PyCharm
.idea/

# VS Code
.vscode/

# Pytest cache
.pytest_cache/

# Coverage
.coverage

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Cache directories for various tools
__pycache__/
.cache/
.mypy_cache/
.pytest_cache/

# Egg-info directory
EasyDraw.egg-info/